{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>

    <div class="d-flex wrap" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"></div>
            <div class="p-1 section-1" style="display: flex; font-size: smaller;">
                <div class="col-md-4 text-center ">

                    <div class="card">
                        <div class="card-body Ticker">
                            <table class="table table-hover">
                                <thead class="table-secondary">
                                    <tr>
                                        <th scope="col">Tickers</th>
                                    </tr>
                                </thead>
                                <tbody class="visibticker" style="display:contents">

                
                                    {% for ticker in Ticker_list %}
                                    {% if forloop.counter == 1 %}
                                    <tr>
                                        <td id="{{ticker}}" onclick="getChartData(this)"
                                            class="table-success ticker_success">
                                            {{ticker}}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td id="{{ticker}}" onclick="getChartData(this)">
                                            {{ticker}}
                                        </td>
                                    </tr>

                                    {% endif %}
                                    {% endfor %}

                                </tbody>
                            </table>
                            <div class="invisibticker" style="display:none">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 text-center ">
                    <div class="card">
                        <div class="card-body Dates">
                            <table class="table table-hover">
                                <thead class="table-secondary">
                                    <tr>
                                        <th scope="col">Dates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date in Dates_list %}
                                    {% if forloop.counter == 1 %}
                                    <tr>
                                        <td id="{{date}}" onclick="getStrategies(this)"
                                            class="table-success date_success">
                                            {{date}}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td id="{{date}}" onclick="getStrategies(this)">
                                            {{date}}
                                        </td>
                                    </tr>

                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                        <div class="card-body Right-Date">
                            <table class="table table-hover">
                                <thead class="table-secondary">
                                    <tr>
                                        <th scope="col">Right</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date in chartdata_obj %}
                                    {% if forloop.counter == 1 %}
                                    <tr>
                                        <td id="{{date.0}}" onclick="RightDateHandler(this,this.id)"
                                            class="table-success right_date_success">
                                            {{date.0}}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td id="{{date.0}}" onclick="RightDateHandler(this,this.id)">
                                            {{date.0}}
                                        </td>
                                    </tr>

                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1 section-2" style="display: flex;">
                <div class="col-md-12 text-center">
                    <div class="card">
                        <div class="card-body Strategies">
                            <div>
                                <table class="table table-hover">
                                    <thead class="table-secondary">
                                        <tr>
                                            <th scope="col">Strategies</th>
                                        </tr>
                                    </thead>
                                    <tbody class="visibstat" style="display:contents">

                                        <tr>
                                            <td id="stat_none" onclick="getTickers(this)">
                                                None
                                            </td>
                                        </tr>
                                        {% for stat in strategies_list %}
                                        {% if forloop.counter == 1 %}
                                        <tr>
                                            <td id="{{stat}}" onclick="getTickers(this)"
                                                class="table-success stat_success">
                                                {{stat}}
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td id="{{stat}}" onclick="getTickers(this)">
                                                {{stat}}
                                            </td>
                                        </tr>

                                        {% endif %}
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>


                            <div class="invisibstat" style="display:none">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            
            </div>
            <div class="p-1 section-3" style="display: block;">
                <div class="">
                    <div class=" " style="display: flex;">
                        <div class="col-md-6 text-center">
                            <div class="card">
                                <div class="card-body Fri">
                                    <!-- <div class="bg-secondary">
                                        <h5 class="card-title text-white p-1">Fri exp</h5>
                                    </div> -->
                                    <table class="table table-hover">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th scope="col">Fri Exp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="FriExp">
                                                    <!-- Fri Exp -->
                                                    <input class="form-check-input friexp" type="checkbox" id="fri_checked" style="display: none;">
                                                    <label class="form-check-label" for="fri_checked">Fri Exp</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- form-switch -->
                                    <!-- <div class="form-check ">
                                        <input class="form-check-input friexp" type="checkbox" id="fri_checked">
                                        <label class="form-check-label" for="fri_checked">Fri Exp</label>
                                    </div>
         -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card">
                                <div class="card-body DB">
                                    <table class="table table-hover">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th scope="col">DB</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for db in db_list %}
                                            {% if forloop.counter == 1 %}
                                            <tr>
                                                <td id="{{db}}" onclick=""
                                                    class="table-success db_success">
                                                    {{db}}
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td id="{{db}}Right">
                                                    {{db}}
                                                </td>
                                            </tr>
        
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid"> -->
                    <!-- <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> -->
                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button> -->
                    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    </div>
                </div>
            </nav> -->
            <!-- Page content-->
            <div class="information">
                <p>
                    <p style="font-size: 0.9em;" class="text-center">
                    Ticker:
                    {% for d in d_chart_data_list %}
                        {% if forloop.counter0 == 7 %}
                            {{d}}
                        {% endif %}
                    {% endfor %}&nbsp;
                    Industry : 
                    {% for d in d_chart_data_list %}
                        {% if forloop.counter0 == 0 %}
                            {{d}}
                        {% endif %}
                    {% endfor %}
                    &nbsp;
                    Name: 
                    {% for d in d_chart_data_list %}
                        {% if forloop.counter0 == 1 %}
                            {{d}}
                        {% endif %}
                    {% endfor %} &nbsp;
                    Resistance Line: 
                    {% for d in d_chart_data_list %}
                        {% if forloop.counter0 == 6 %}
                            {{ d}}  
                        {% endif %}
                    {% endfor %}&nbsp;
                    support Line: 
                    {% for d in d_chart_data_list %}
                        {% if forloop.counter0 == 5 %}
                            {{ d}}  
                        {% endif %}
                    {% endfor %}&nbsp;
                    ATR: 
                    {% for d in d_chart_data_list %}
                    {% if forloop.counter0 == 2 %}
                        {{d}}
                    {% endif %}
                    {% endfor %} &nbsp;
                    EPSDate: {% for d in d_chart_data_list %}
                    {% if forloop.counter0 == 3 %}
                        {{d}}
                    {% endif %}
                    {% endfor %} &nbsp;
                    Time:{% for d in d_chart_data_list %}
                    {% if forloop.counter0 == 4 %}
                        {{d}}
                    {% endif %}
                {% endfor %} &nbsp;&nbsp;
                    </p>
            </p>

            
            </div>
            <div class="container-fluid">
                <!-- <h1 class="mt-4">Graph Section -:</h1> -->
                <div id="LineCharts">

                </div>
               
                <div id="StackedBarCharts">
                    
                </div>

                <div id="CandleStickChart">

                </div>

            </div>
        </div>
    </div>


    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"
        integrity="sha512-bwD3VD/j6ypSSnyjuaURidZksoVx3L1RPvTkleC48SbHCZsemT3VKMD39KknPnH728LLXVMTisESIBOAb5/W0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // {% for r in chartdata_obj %}

        //     {% if forloop.first %}
        //         console.log(typeof `${ {{r.34}} }`)    
        //     {% endif %}
        
        // {% endfor %}
        var csrftoken = '{{ csrf_token }}';
        prev_candle = [];

        // candle data -:
        Candlestick_data_array = [
            {% for r in chartdata_obj %}
                {
                    x: '{{r.0}}',
                    y: [{{ r.1}}, {{ r.2}}, {{r.3 }}, {{ r.4}}]
                },
            {% endfor %}
        ];
        Short_EMA_data_array = [
            {% for r in chartdata_obj %}
                {
                    x: '{{r.0}}',
                    y: {{ r.6}}
                },
            {% endfor %}
        ];
        Medium_EMA_data_array = [
            {% for r in chartdata_obj %}
            {
                x: '{{r.0}}',
                y: {{ r.7}}
            },
            {% endfor %}
        ];
        Long_EMA_data_array = [
            {% for r in chartdata_obj %}
                {
                    x: '{{r.0}}',
                    y: {{ r.8}}
                },
            {% endfor %}
        ];
        Support_data_array = [
            {% for r in chartdata_obj %}
            {
                x: '{{r.0}}',
                y: {{ r.12}}
                },
            {% endfor %}        
        ];
        Resistance_data_array = [
            {% for r in chartdata_obj %}
            {
                x: '{{r.0}}',
                y: {{ r.13}}
                },
            {% endfor %}
        ];
        vamp_data_array = [
            {% for r in chartdata_obj %}
            {
                x: '{{r.0}}',
                y: {{ r.31}}
            },
            {% endfor %}
        ];
        bottom_value_data_array = [
            
            {% for r in chartdata_obj %}
            {% if r.32 != '0.0' %}
                {
                    x: '{{r.0}}',
                    y: {{ r.32}}
                },
            {% endif %}
            {% endfor %}
        ];
        top_value_data_array = [
            
            {% for r in chartdata_obj %}
            {% if r.33 != '0.0' %}
            {
                x: '{{r.0}}',
                y: {{ r.33}}
            },
            {% endif %}
            {% endfor %}
        ];
        supplyline_high_data_array = [
            {% for r in chartdata_obj %}
            {% if r.34 != '0.0' %}
            {
                x: '{{r.0}}',
                y:{{ r.34}}
            },
            {% endif%}
            {% endfor %}
        ];
        supplyline_low_data_array = [
            {% for r in chartdata_obj %}
            {% if r.35 != '0.0' %}
            {
                x: '{{r.0}}',
                y: {{ r.35}}
            },
            {% endif%}
            {% endfor %}
        ];
        demandline_high_data_array = [
            {% for r in chartdata_obj %}
            {% if r.36 != '0.0' %}
            {
                x: '{{r.0}}',
                y: {{ r.36}}
            },
            {%endif%}
            {% endfor %}
        ];
        demandline_low_data_array = [
            {% for r in chartdata_obj %}
            {% if r.37 != '0.0' %}
            {
                x: '{{r.0}}',
                y: {{ r.37}}
            },
            {%endif%}
            {% endfor %}
        ];

        // Line Chart -:
        positive_directional_index_indicator_data_array = [
            {% for d in  chartdata_obj %}
            {{ d.9 }},
            {% endfor %}
        ];
        negative_directional_index_indicator_data_array = [
            {% for d in  chartdata_obj %}
                {{ d.10 }},
            {% endfor %}
        ];
        zero_line_data_array = [
            {% for d in  chartdata_obj %}
                    {{ d.23 }},
            {% endfor %}
        ];
        twenty_five_line_data_array = [
            {% for d in  chartdata_obj %}
                    {{ d.24 }},
            {% endfor %}
        ];
        forty_line_data_array = [
            {% for d in  chartdata_obj %}
                    {{ d.25 }},
            {% endfor %}
        ];
        neg_twenty_five_line_data_array = [
            {% for d in  chartdata_obj %}
                    {{ d.26 }},
            {% endfor %}
        ];
        neg_forty_line_data_array = [
            {% for d in chartdata_obj %}
                
                {{ d.27 }},
                
            {% endfor %}
        ];
        max_avg_upper_data_array = [
            {% for d in  chartdata_obj %}
            
                    {{ d.28 }},
            {% endfor %}
        ];
        min_avg_low_data_array = [
            {% for d in  chartdata_obj %}
                    {{ d.29 }},
            {% endfor %}
        ];
        adx_indicator_data_array = [
            {% for d in  chartdata_obj %}
                        {{ d.11 }},
            {% endfor %}
        ]

        categories_data_array = [
            {% for d in  chartdata_obj %}
                    
                    // moment(moment("{{ d.0 }}",'YYYY-MM-DD')).toDate(),
                    "{{ d.0 }}",
            {% endfor %}
        ]

        // stacked bar chart -:
        stack_data_array = [

            {% for r in chartdata_obj %}
                ["{{r.0}}",1,"{{r.16}}",1,"{{r.17}}",1,"{{r.18}}",1,"{{r.19}}",1,"{{r.20}}",1,"{{r.21}}",1,"{{r.22}}"],
            {% endfor %}
        ];

    </script>
    <script
    src="https://www.gstatic.com/charts/loader.js">
    </script>
    
    <!-- default candlestick chart -->
    <script>

    var options = {
        series: [
        {
            name: 'Candlestick',
            type: 'candlestick',
            data: Candlestick_data_array
        },{
            name: 'Short EMA',
            type: 'line',
            data:Short_EMA_data_array
        },{
            name: 'Medium EMA',
            type: 'line',
            data:Medium_EMA_data_array
        }, 
        {
            name: 'Long EMA',
            type: 'line',
            data: Long_EMA_data_array
        },
        {
            name: 'Support',
            type: 'line',
            data: Support_data_array
        },
        {   
            name: 'Resistance',
            type: 'line',
            data: Resistance_data_array
        }, 
         {   
            name: 'vamp',
            type: 'line',
            data: vamp_data_array
        }, 
        {   
            name: 'bottom_value',
            type: 'line',
            data: bottom_value_data_array
        },
        {   
            name: 'top_value',
            type: 'line',
            data: top_value_data_array
        },
        {   
            name: 'supplyline_high',
            type: 'line',
            data: supplyline_high_data_array
        },
        {   
            name: 'supplyline_low',
            type: 'line',
            data: supplyline_low_data_array
        },
        {   
            name: 'demandline_high',
            type: 'line',
            data: demandline_high_data_array
        },
        {   
            name: 'demandline_low',
            type: 'line',
            data: demandline_low_data_array
        }
        ],
        chart: {
            height: 465,
            type: 'line',
            animations: {
                enabled:false
            }
        },
        stroke: {
            width: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2,2,2]
        },
        colors: ['rgb(128, 0, 255)', 'rgb(128, 0, 255)', 'rgb(249, 124, 0)', 'rgb(255, 0, 255)', 'rgb(192, 192, 192)','rgb(192, 192, 192)','rgb(0, 255, 255)','rgb(0, 0, 0)','rgb(0, 0, 0)','rgb(255, 0, 0)','rgb(255, 0, 0)','rgb(27, 179, 7)','rgb(27, 179, 7)'],
            // text: 'CandleStick Chart - Category X-axis',
            title: {
            align: 'left'
        },

        legend: {
            show: true,
        },

        fill:{
            type:'solid',
            colors: ['rgb(128, 0, 255)', 'rgb(128, 0, 255)', 'rgb(249, 124, 0)', 'rgb(255, 0, 255)', 'rgb(192, 192, 192)','rgb(192, 192, 192)','rgb(0, 255, 255)','rgb(0, 0, 0)','rgb(0, 0, 0)','rgb(255, 0, 0)','rgb(255, 0, 0)','rgb(27, 179, 7)','rgb(27, 179, 7)'],
            opacityFrom:[1, 1, 1, 1, 1, 1, 1, 1, 1, 0.1,0.1,0.1,0.1],
            // opacityTo:[1, 1, 1, 1, 1, 1, 1, 1, 1, 0.1,0.1,0.1,0.1]
        },
        xaxis: {
            datetimeUTC: false,
            // categories: categories_data_array,
            // tickAmount:  90,
            labels: {
                rotate: -90,
                    formatter: function(val) {
                        return dayjs(val).format('MM/DD')
                    }
            },
            type: 'datetime',
            // min: new Date('2021-10-20').getTime(),
            tooltip: {
                // enabled: false
                enabled: true
            },
            // type: 'category'

        },
        yaxis: {
            tooltip: {
                enabled: true
            },
            labels: {

                formatter: function(val) {
                    return Math.round(val)
                    // return val;
                }
            },
            type: 'category'
        },
        grid: {
            show: true,      // you can either change hear to disable all grids
            xaxis: {
                lines: {
                show: false  //or just here to disable only x axis grids
                }
            },  
            yaxis: {
                lines: { 
                show: false  //or just here to disable only y axis
                }
            },   
        },
        
        };

        var chart1 = new ApexCharts(document.querySelector("#CandleStickChart"), options);
        chart1.render();
        prev_candle.push(chart1)



// DEFAULT LINE CHARTS SECTION -:
    let lineoptions = {
        
        series: [
        {
            name:"positive_directional_index_indicator",
            data: positive_directional_index_indicator_data_array
        },
        {
            name:"negative_directional_index_indicator",
            data: negative_directional_index_indicator_data_array
        },
        
        {
            name:"zero_line",
            data: zero_line_data_array
        },
        {
            name:"twenty_five_line",
            data:twenty_five_line_data_array
        },
        {
            name:"forty_line",
            data:forty_line_data_array
        },
        {
            name:"neg_twenty_five_line",
            data: neg_twenty_five_line_data_array
        },
        {
            name: 'neg_forty_line',
            data: neg_forty_line_data_array
        },
        {
            name:"max_avg_upper",
            data: max_avg_upper_data_array
        },
        {
            name:"min_avg_low",
            data: min_avg_low_data_array
        },
        {
            name:"adx_indicator",
            data: adx_indicator_data_array
        },
        // 4 - 7
        
      ],
      colors : ["rgb(77, 167, 75)","rgb(255, 0, 0)","rgb(255, 0, 0)","rgb(211,211,211)","rgb(211,211,211)","rgb(211,211,211)","rgb(211,211,211)","rgb(0, 0, 0)","rgb(0, 0, 0)","rgb(0, 0, 255)"],
        chart: {

            height: 250,
            type: 'line',
            animations: {
                enabled:false
            },
            toolbar: {
            //   autoSelected: 'zoom',
            show: false,
            }
        },
        zoom: {
          type: 'x',
          enabled: true,
          autoScaleYaxis: true
        },
        events: {
          beforeZoom: function(ctx) {
              // we need to clear the range as we only need it on the iniital load.
              ctx.w.config.xaxis.range = undefined
          }
      },
    //   type: 'category',
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
        width: 2,
        dashArray: [0,0,0,4,4,4,4,0,0,0]

      },
      legend:{
          show:false,
      },
      xaxis: {
      // range: range,
        datetimeUTC: false,
        categories: categories_data_array,
        // tickAmount:10,
        labels:{
            rotate:-90,
            formatter: function(val) {
            return dayjs(val).format('MM/DD')
          },
        //   type: 'datetime',
          style: {
             
             fontSize: '12px',
               
         }
        },
        tooltip: {
            enabled: false
        },
        
      },
      yaxis: {
        labels: {
          show: true,
          formatter: function(val){
              return Math.round(val);
          }
        },
        
        tooltip: {
            enabled: true
        },
        
        
      },
      grid: {
        show: true,      // you can either change hear to disable all grids
        xaxis: {
            lines: {
            show: false  //or just here to disable only x axis grids
            }
        },  
        yaxis: {
            lines: { 
            show: false  //or just here to disable only y axis
            }
        },   
        }
      
    };

    let linechart = new ApexCharts(document.querySelector("#LineCharts"), lineoptions);
    linechart.render();


    // code for stacked bar charts -:
    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart(){
        let stack = stack_data_array;
        stack.unshift(['date','trigger_4',{role:"style"},'trigger_3',{role:"style"},'trigger_1',{role:"style"},'trigger_2',{role:"style"},'trigger_5',{role:"style"},'trigger_6',{role:"style"},'trigger_7',{role:"style"}]);
        // stack.reverse();
        console.log("stack => ",stack);
        var data = google.visualization.arrayToDataTable(stack, false);


        var options = {
           legend: 'none',
           isStacked:true,
        //    bar: { groupWidth: '80%' },
           chartArea:{left:40,top:0,width:"100%",height:"60%"},
           width:'100%', 
           height:'140',
           hAxis: {
               textPosition: 'none',
                slantedText: true,
				slantedTextAngle: 90,
                "textStyle" : {
                    "fontSize" : 12,
                    "bold" : true,
                },
           },
           vAxis: {
           		textPosition: 'none'
           }
        };


        // var chart = new google.visualization.ColumnChart(document.getElementById('StackedBarCharts'));

        chart.draw(data, options);
        const sidebarToggle = document.body.querySelector("#sidebarToggle");
        sidebarToggle.addEventListener('click', ()=>{
            setTimeout(() => {
                var chart = new google.visualization.ColumnChart(document.getElementById('StackedBarCharts'));
                chart.draw(data, options);
            }, 1000);
        })
      }

    </script>
<script src="{% static 'js/home.js' %}"></script>

</body>

</html>